@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

:root {
    --corFundo: #f0f0f0;
    --corPrincipal: #EFD81D;
    --corDestaque1: #ff3c38;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 17px;
    height: 100vh;
    background-color: var(--corFundo);
}

header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: #EFD81D;
    color: white;
    align-items: center;
    padding: 0px 15px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.096);
}

#logo {
    font-weight: 800;
    font-size: 30px;
}

#menu {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

#menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}

main {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

section {
    background-color: white;
    border-radius: 7px;
    padding: 10px;
    margin-top: 20px;
    overflow: hidden;
    height: 70px;
}

.ativo {
    height: auto;
}

.ativo p {
    opacity: 1;
    transition: opacity 1s, transform .5s;
    transform: translateX(0px);
}

main h1 {
    text-align: center;
    margin: 80px 0px;
}

main h2 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: -10px;
    cursor: pointer;
}

main p {
    line-height: 40px;
    text-align: justify;
    margin: 15px;
    opacity: 0;
    transform: translateX(-20px);
}

main code {
    font-family: "Noto Sans Mono", monospace;
    background-color: var(--corFundo);
    display: block;
    padding: 5px 15px;
    border-radius: 0px 4px 4px 0px;
    font-weight: 300;
    position: relative;
    overflow: hidden;
}

main code::before {
    content: "";
    background-color: var(--corPrincipal);
    position: absolute;
    height: 100px;
    width: 5px;
    left: 0;
    top: 0;
}

code strong {
    color: var(--corDestaque1);
}

.btn-ex {
    background-color: #fffce7;
    border: 2px solid var(--corPrincipal);
    color: #c2af1e;
    border-radius: 7px;
    margin: 20px 0px 0px 0px;
    padding: 10px;
    cursor: pointer;
    transition: all .2s;
}

.btn-ex:hover {
    background-color: #EFD81D;
    color: white;
}

.arrow-section {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
