@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --corFundo: #ffffff;
    --corFundo2: rgb(241, 241, 241);
    --corPrincipal: #EFD81D;
    --corDestaque1: #ff3c38;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 1.1em;
    height: 100vh;
    background-color: var(--corFundo);
}

header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: #EFD81D;
    color: white;
    align-items: center;
    padding: 0px 15px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.096);
}

#logo {
    font-weight: 800;
    font-size: 1.6em;
}

#menu {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

#menu a {
    color: white;
    text-decoration: none;
    padding: 5px;
    cursor: pointer;
}

main {
    max-width: 1100px;
    margin: auto;
    padding: 7px;
}

section {
    background-color: var(--corFundo);
    border-radius: 7px;
    padding: 10px;
    margin-top: 20px;
    overflow: hidden;
    height: 70px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.11);
}

.abrir {
    height: auto;
}

.abrir p, .abrir ul{
    opacity: 1;
    transition: opacity 1s, transform .5s;
    transform: translateX(0px);
}

p.codigo {
    background-color: var(--corFundo2);
    padding: 17px;
    border-radius: 6px;
}

main h1 {
    text-align: center;
    margin: 80px 0px;
}

main h2 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: -10px;
    cursor: pointer;
}

.ex {
    font-size: 1.1em;
}

main p {
    line-height: 35px;
    text-align: justify;
    margin: 15px;
    opacity: 0;
    transform: translateX(-20px);
}

main code {
    font-family: monospace;
    background-color: var(--corFundo);
    display: block;
    padding: 5px 15px;
    border-radius: 0px 4px 4px 0px;
    position: relative;
    overflow: hidden;
    max-width: 900px;
    text-align: left;
    margin-top: 15px;
    line-height: 20px;
    font-size: 1.1em;
    margin-bottom: 15px;
}

main code::before {
    content: "";
    background-color: var(--corPrincipal);
    position: absolute;
    height: 1000px;
    width: 5px;
    left: 0;
    top: 0;
}

.destaque {
    color: var(--corDestaque1);
    font-weight: normal;
}

ul {
    margin-left: 50px;
    line-height: 25px;
    opacity: 0;
    transform: translateX(-20px);
}

.btn-ex {
    background-color: var(--corPrincipal);
    border: none;
    color: white;
    border-radius: 7px;
    margin: 10px 0px;
    padding: 10px;
    cursor: pointer;
    transition: all .2s;
    font-weight: bold;
    font-size: .9rem;
}

.arrow-section {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
